<div class="container footer-container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        {{ site.name }}{%- if site.pronouns -%} &nbsp;<small>({{ site.pronouns }})</small>{%- endif -%}
        {%- if site.email -%}
        &nbsp;- <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        {%- endif -%}
        {%- if site.footer_show_references -%}
        &nbsp;- {{ site.references_title | default: "References on request" }}
        {%- endif -%}
      </p>
      <ul class="icons no-print">
        {%- include socials-list-icons.html -%}
      </ul>
    </div>
  </div>
</div>