<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-md-8 header-left">
      <h1>
        {{ site.name }}
        {%- if site.pronouns -%} &nbsp;<small>({{ site.pronouns }})</small>{%- endif -%}
      </h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-md-4 header-right">
      <ul class="icons no-print">
        {%- include socials-list-icons.html -%}
      </ul>
      </div>
    <div class="row">
      <div class="col-sm-12 header-right">
        {%- if site.email -%}
          <p>
            {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
          </p>
        {%- endif -%}
        {%- if site.phone -%}
          <p>
            {{ site.phone_title | default: "Phone" }}: {{ site.phone | escape }}
          </p>
        {%- endif -%}
        {%- if site.website -%}
          <p>
            {{ site.website_title | default: "Web" }}: {% include a.html href=site.website %}{{ site.website | escape }}</a>
          </p>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
