<div class="col">
  <div class="card h-100 justify-content-center text-bg-light">
    {%- if include.item.emblem -%}<img class="card-img-top" src="{{ include.item.emblem }}" alt="Card image cap" />{%- endif -%}
    <div class="card-body">
      {%- if include.item.title -%}<h5 class="card-title">
        {%- if include.item.link -%}
          {% include a.html href=include.item.link class="link" %}
        {%- endif -%}
        {{ include.item.title }}
        {%- if include.item.link -%} </a> {%- endif -%}
      </h5>{%- endif -%}

      {%- if include.item.dates -%}<p class="card-dates text-muted">{{ include.item.dates }}</p>{%- endif -%}
      <hr>
      {% for subitem in include.item.subitems %}
        {%- if subitem.name -%}<p class="card-subitem-name">{{ subitem.name }}</p>{%- endif -%}
        {%- if subitem.description -%}<p class="card-subitem-description text-muted">{{ subitem.description }}</p>{%- endif -%}
      {% endfor %}
    </div>
  </div>
</div>